<div class="footer">
  <div class="container">
    <div class="footer-grids" style="color:white">
      <div class="col-lg-6">
        <h3>Why WE Are</h3>
        <p  >Ut rutrum neque a mollis laoreet diam enim feuiat dui nec ulacoper quam felis id diam. Nunc ut tortor ligula eu petiu risus. Pelleesque conquat dignissim lacus quis altrcies.</p>
        
      </div>

      <div class="col-lg-6">
        <h3>Contact Us</h3>
        <p>Pelleesque conquat dignissim lacus quis altrcies.</p>
        <div class="footer-grid-address">
          <p>Tel.800-255-9999</p>
          <p>Fax: 1234 568</p>
          <p>Email: <a class="email-link" href="mailto:info@example.com">Example.com</a></p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="clear"> </div>
<div class="copy-right">
  <p>Copyright © 2018 MidNight Hunger. All rights reserved | Design by Ayushi Srivastava</p>
</div>