<HeadMenu></HeadMenu>
<br>
<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="active">
      <a data-toggle="tab" href="#home">BREAKFAST TO GO</a>
    </li>
    <li>
      <a data-toggle="tab" href="#menu1">BRUNCH</a>
    </li>
    <li>
      <a data-toggle="tab" href="#menu2">BEVERAGES</a>
    </li>
    <li>
      <a data-toggle="tab" href="#menu3">MIDNIGHT MUNCHINGS</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="container">
        <br>
        <div class="card-body table-responsive">
          <h1 style="color:#2FD828">Start your mornings with something Healthy</h1>

          <table class="table table-hover">
            <thead class="bg bg-dark">
              <tr>
                <th style="text-align: center">Item</th>
                <th style="text-align: center">Price</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let k of brkfstObj1">
        
                  <td style="text-align: center">{{k.Item}}</td>
                  <td style="text-align: center">{{k.Price}}</td>
          </tr>
          </tbody>
          </table>
        </div>
      </div>
      </div>




      <div id="menu1" class="tab-pane fade">
          <div class="container">
              <br>
              <div class="card-body table-responsive">
                <h1 style="color:#2FD828">Lets do Brunch </h1>
      
                <table class="table table-hover">
                  <thead class="bg bg-dark">
                    <tr>
                      <th style="text-align: center">Item</th>
                      <th style="text-align: center">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor ="let k of brkfstObj2">
              
                        <td style="text-align: center">{{k.Item}}</td>
                        <td style="text-align: center">{{k.Price}}</td>
                </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
            
    


      <div id="menu2" class="tab-pane fade">
          <div class="container">
              <br>
              <div class="card-body table-responsive">
                <h1 style="color:#2FD828">Thirst Knows No Season</h1>
      
                <table class="table table-hover">
                  <thead class="bg bg-dark">
                    <tr>
                      <th style="text-align: center">Item</th>
                      <th style="text-align: center">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor ="let k of brkfstObj3">
              
                        <td style="text-align: center">{{k.Item}}</td>
                        <td style="text-align: center">{{k.Price}}</td>
                </tr>
                </tbody>
                </table>
              </div>
            </div>
      
      </div>


      <div id="menu3" class="tab-pane fade">
          <div class="container">
              <br>
              <div class="card-body table-responsive">
                <h1 style="color:#2FD828">There's No Perfect Time To Eat</h1>
      
                <table class="table table-hover">
                  <thead class="bg bg-dark">
                    <tr>
                      <th style="text-align: center">Item</th>
                      <th style="text-align: center">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor ="let k of brkfstObj4">
              
                        <td style="text-align: center">{{k.Item}}</td>
                        <td style="text-align: center">{{k.Price}}</td>
                </tr>
                </tbody>
                </table>
              </div>
            </div>
      
      </div>

    </div>

  </div>