<div class="about">
		<div class="container">
			<h3>Welcome To MidnightHunger !</h3>
			<div class="fig-text">
				<img src="assets/images/images.jpg" alt=" " class="img-responsive" />
				<p>Midnight Hunger is a canteen that will facilitate students to order food at any hour of the day.
						The fifth meal of the day, the late-night snack, something for the midnight munchies – the midnight hunger have them all for you.
						When every other eatery shuts down, canteens wake up to life. Serving food all night long, night canteens are an integral part of every student’s life.
						</p>
			</div>
		</div>
	</div>
	<div class="advantages">
		<div class="container">
			<h3>Our Advantages</h3>
			<div class="our-advantages-grids">
				<br>
				<br>

				<br>
				
				<div class="col-md-4 our-advantages-grid">
					<div class="col-xs-3 our-advantages-grd-left">
						<p>1.</p>
					</div>
					<div class="col-xs-9 our-advantages-grd-right">
						<h4> 24*7 food ordering service.
							</h4>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 our-advantages-grid">
					<div class="col-xs-3 our-advantages-grd-left">
						<p>2.</p>
					</div>
					<div class="col-xs-9 our-advantages-grd-right">
						<h4>Delivered within 20 minutes at your doorstep or its free”
							</h4>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 our-advantages-grid">
					<div class="col-xs-3 our-advantages-grd-left">
						<p>3.</p>
					</div>
					<div class="col-xs-9 our-advantages-grd-right">
						<h4>Immense variety of starters, appetizers, deserts and beverages.</h4>
					</div>
				</div>

			</div>
		
		</div>
	</div>
	
<!-- //about -->
