<div class="header">
    <div class="container">
        <div class="header-nav">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i>
                        <span>Midnight</span>Hunger</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="hvr-bounce-to-bottom">
                            <a routerLink="/Home">Home</a>
                        </li>

                        <li class="hvr-bounce-to-bottom">
                            <a routerLink="/Menu">Menu</a>
                        </li>
                        <li class="hvr-bounce-to-bottom">
                            <a routerLink="/PlaceOrder">PlaceOrder</a>
                        </li>

                        <li class="hvr-bounce-to-bottom">
                            <a href="#" (click)="onlogout()">Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /navbar-collapse -->
            </nav>
        </div>
    </div>
</div>
<img src="assets/images/Canteen-Web.png" style="background-color:lightseagreen; background-repeat: no-repeat;
            background-attachment: fixed;width:110%;
            background-position: center-center;background-size:auto;-box-sizing: border-box " class="img-fluid img responsive"/>
             
<footer></footer>