
	<div class="contact">
		<div class="container">
			<div class="contact-main">
				<h3>Contact Us</h3>
				<div class="contact-top">
					<div class="col-md-6 contact-top-left">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.784385675367!2d80.94247381492094!3d26.846809369387344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfd07c3c15643%3A0x867bb0de72c4c460!2sDigipodium!5e0!3m2!1sen!2sin!4v1531731652182"  frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
					<div class="col-md-6 contact-top-right">
						<div class="contact-textarea">
							<form>
								<input type="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}"/>
								<input type="text" value="Phone Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone Number';}"/>
								<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"/>
								<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>
								<input type="submit" value="SUBMIT" >
							</form>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
