<HeadMenu></HeadMenu>
<div class="banner">
  <!-- Slider-starts-Here -->
  <script src="assets/js/responsiveslides.min.js"></script>
  <script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 4
      $("#slider3").responsiveSlides({
        auto: true,
        pager: false,
        nav: false,
        speed: 500,
        namespace: "callbacks",
        before: function () {
          $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
          $('.events').append("<li>after event fired.</li>");
        }
      });

    });
  </script>
  <!--//End-slider-script -->
  <div id="top" class="callbacks_container">
    <ul class="rslides" id="slider3">
      <li>
        <div class="banner-info2">
          <div class="baner-inf">
            <h1>An Ideal</h1>
            <p>Place To Spend A Happy Evening</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="banner-bottom-grids">
    <div class="container">
      <div class="col-md-3 banner-bottom-grid">
        <div class="banner-bottom-grd back">
          <h4>01</h4>
          <p>fugiat quo
            <span>voluptas</span>
          </p>
          <div class="clearfix"> </div>
        </div>
        <p class="debitis">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
        <div class="more">
          <a href="single.html">Learn More</a>
        </div>
      </div>
      <div class="col-md-3 banner-bottom-grid">
        <div class="banner-bottom-grd back1">
          <h4>02</h4>
          <p>fugiat quo
            <span>voluptas</span>
          </p>
          <div class="clearfix"> </div>
        </div>
        <p class="debitis">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
        <div class="more">
          <a href="single.html">Learn More</a>
        </div>
      </div>
      <div class="col-md-3 banner-bottom-grid">
        <div class="banner-bottom-grd back2">
          <h4>03</h4>
          <p>fugiat quo
            <span>voluptas</span>
          </p>
          <div class="clearfix"> </div>
        </div>
        <p class="debitis">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
        <div class="more">
          <a href="single.html">Learn More</a>
        </div>
      </div>
      <div class="col-md-3 banner-bottom-grid">
        <div class="banner-bottom-grd back3">
          <h4>04</h4>
          <p>fugiat quo
            <span>voluptas</span>
          </p>
          <div class="clearfix"> </div>
        </div>
        <p class="debitis">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
        <div class="more">
          <a href="single.html">Learn More</a>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="banner-bottom1">
  <div class="container">
    <h3>Welcome !</h3>
    <div class="banner-bottom1-grids">
      <div class="col-md-4 banner-bottom1-grid">
        <img src="assets/images/7.jpg" alt=" " class="img-responsive" />
      </div>
      <div class="col-md-8 banner-bottom1-grid">
        <h4>voluptatibus maiores alias consequatur aut perferendis aliquid ex ea commodi consequatur</h4>
        <p> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
          consequatur vel illum qui dolorem eum fugiat quo voluptas.</p>
        <div class="more">
          <a href="single.html">Learn More</a>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<Footer
