<HeadMenu></HeadMenu>
<div class="contact">
    <div class="container">
        <div class="contact-main">
            <h3>Sign In From Here</h3>
            <div class="contact-top">
               
                <div class="col-md-6 contact-top-right">
                    <div class="contact-textarea">
                        <form>
                            <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}"
                            />
                            <input type="text" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone Number';}"
                            />
                            <input type="submit" value="SUBMIT">
                            <input type="reset" value="CLEAR">
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<Footer></Footer>